<div class="container">
  <h1>Lista de Usuários</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Senha</th>
        <th>Opções</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <input class="form-control" ng-model="user.name"></td>
        <td> <input class="form-control" ng-model="user.password"></td>
        <td>
          <button class="btn btn-primary" ng-click="addUser()">Add Contact</button>&nbsp; &nbsp;
          <button class="btn btn-info" ng-click="update()">Update</button>&nbsp; &nbsp;
          <button class="btn btn-info" ng-click="deselect()">Clear</button>
        </td>
      </tr>
      <tr ng-repeat="user in userList">
        <td>{{user.name}}</td>
        <td>{{user.password}}</td>
        <td>
          <button class="btn btn-danger" ng-click="remove(user._id)">Remove</button>&nbsp; &nbsp;
          <button class="btn btn-warning" ng-click="edit(user._id)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>