<div class="container">
  <h1>Lista de Usuários</h1>
  <ol class="breadcrumb">
    <button class="btn btn-small btn-primary" data-toggle="modal" data-target="#myModal"> Novo</button>
  </ol>

  

  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Login</th>
        <th>Habilitado</th>
        <th>Perfis</th>
        <th>Opções</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
     <!-- <tr>
        <td> <input class="form-control" ng-model="user.name"></td>
        <td> <input class="form-control" ng-model="user.password"></td>
        <td>
          <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Add Contact
          </button>&nbsp; &nbsp;
          <button class="btn btn-info" ng-click="update()">Update</button>&nbsp; &nbsp;
          <button class="btn btn-info" ng-click="deselect()">Clear</button>
        </td>
      </tr> -->
     
   <!--   <div class="row">
        <div class="col-md-3 grid-box" ng-repeat="user in userList">
            <div class="grid-item"> <span ><b>Nome:</b> </span>{{user.name}} </div>
            <div class="grid-item"> <span><b>Login:</b> </span>{{user.login}}  </div>
            <div class="grid-item"> <span><b>Habilitado:</b> </span>{{user.isLoginAble ?'Sim' : 'Não'}} </div>
             <div class="grid-item"> <span><b>Perfis:</b> </span><div class="label label-default label-role" ng-repeat-start="role in user.roles" ng-repeat-end> {{role.key}}</div></div>
        </div>
      </div>

    -->

      <tr ng-repeat="user in userList">
        <td>{{user.name}}</td>
        <td>{{user.login}}</td>
        <td>{{user.isLoginAble ?'Sim' : 'Não'}}</td>
        <td ><div ng-repeat-start="role in user.roles" ng-repeat-end> {{role.key}} </div></td>
        <td>
          <button class="btn btn-danger" ng-click="remove(user._id)">Remove</button>&nbsp; &nbsp;
          <button class="btn btn-warning" ng-click="edit(user._id)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Cadastro de usuário</h4>
        </div>
        <div class="modal-body">
          <form style="width:400px;" autocomplete="off" name="myForm" novalidate>
          <div class="form-group">
            <label for="inputUser">Nome</label>
            <input type="text" name="namemodal" class="form-control" id="inputName" placeholder="Nome" ng-model="user.name" ng-minlength="4" required>
            <span ng-show="myForm.name.$error.required">Preencha o campo Nome.</span>
            <span ng-show="myForm.name.$error.user">Nome inválido.</span>
            <span ng-show="myForm.name.$error.minlength">Deve conter no minimo 4 caracteres.</span>
          </div>
          <div class="form-group">
            <label for="inputUser">Login</label>
            <input type="text" name="login" class="form-control" id="inputLogin" placeholder="Login" ng-model="user.login" ng-minlength="4" required>
            <span ng-show="myForm.login.$error.required">Preencha o campo Login.</span>
            <span ng-show="myForm.login.$error.user">Login inválido.</span>
            <span ng-show="myForm.login.$error.minlength">Deve conter no minimo 4 caracteres.</span>
          </div>
          <div class="form-group">
            <label for="inputPassword">Senha</label>
            <input type="password" name="pw" class="form-control" id="inputPassword" placeholder="Senha" ng-model="user.password" ng-minlength="6" required>
            <span ng-show="myForm.pw.$error.required">Preencha o campo senha.</span>
            <span ng-show="myForm.pw.$error.user">Senha inválida.</span>
            <span ng-show="myForm.pw.$error.minlength">Deve conter no minimo 6 caracteres.</span>
          </div>
           <div class="form-group">
            <input type="checkbox" name="isLoginAble" id="inputIsLoginAble" ng-model="user.isLoginAble">
            <label for="inputIsLoginAble">Habilitado</label>
          </div>
           <div class="form-group">
              <label >Perfis</label>
                <div class="multiSelect"
            isteven-multi-select
            input-model="allRoles"
            output-model="user.roles"
            button-label="key"
            item-label="key"
            tick-property="ticked"
          >
           </div>

        </form>
        </div>
        <div class="modal-footer">
          <button type="button" ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.user.$pristine || myForm.pw.$dirty && myForm.pw.$invalid || myForm.pw.$pristine" ng-click="add()" class="btn btn-primary" data-dismiss="modal">Cadastrar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>