<!-- List progress of clients  -->

<!-- COPIEI E COLEI O CODIGO VARIAS VEZES, PRA VER COMO FICAVA.
TEM QUE POPULAR AS LINHAS CONFORME A QUANTIDADE DE PEDIDO ADICIONADOS. -->
<div class="container-progress" ng-repeat="order in orderList">
	<div class="table-number">
		<div class="number-txt">
			<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
			<span class="number-table-prog">{{order.tables[0].code}}</span> <!-- NUMERO DA MESA, QUE ESTÁ VINCULADA AO PEDIDO-->
		</div>
	</div>
	<div class="progress-screen">
		<div class="progress">
			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{order.percentComplete}}%">
			<span class="sr-only" style="background-color: #000;">{{order.percentComplete}}% Complete</span>
			</div>
		</div>
	</div>
</div>