<!-- List progress complete, this list, have everything about order  -->

<!-- COPIEI E COLEI O CODIGO VARIAS VEZES, PRA VER COMO FICAVA.
TEM QUE POPULAR AS LINHAS CONFORME A QUANTIDADE DE PEDIDO ADICIONADOS. -->


<!-- PEDIDO COM ALTERAÇÃO -->
<br />
<span class="text-list-progress">Pedido: 252525 | Mesas: 02</span>
<div class="container-progress-k">
	<div class="table-number-k">
		<div class="number-txt-k">
			<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
			<span class="number-table-prog">05</span> <!-- NUMERO DA MESA, QUE ESTÁ VINCULADA AO PEDIDO-->
		</div>
	</div>

	<div class="dish-name">
		<span class="text-list-progress"> Cheese Salada</span>
	</div>

	<div class="comments-order"> <!-- LISTR AS OBS DO PEDIDO, OU SEJA AS OBSERVAÇÕES-->
		<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
		<span class="text-list-progress">S/ OVO</span>
	</div>

	<div class="progress-screen">
		<div class="progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:65%">
			<span class="sr-only">45% Complete</span>
			</div>
		</div>
	</div>
</div>
<br /><br />

<!-- PEDIDO SEM ALTERAÇÃO -->
<span class="text-list-progress"> Pedido: 252525 | Mesas: 02</span>
<div class="container-progress-k">
	<div class="table-number-k">
		<div class="number-txt">
			<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
			<span class="number-table-prog">05</span> <!-- NUMERO DA MESA, QUE ESTÁ VINCULADA AO PEDIDO-->
		</div>
	</div>

	<div class="dish-name">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		<span class="text-list-progress"> Cheese Salada</span>
	</div>

	<div class="progress-screen">
		<div class="progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:65%">
			<span class="sr-only">45% Complete</span>
			</div>
		</div>
	</div>
</div>