.body-login{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F0F0D8;
  font-size: 15px;
}

.body-not-authenticated{
  background-image: url("../img/login.jpg");
}

.slow-effect {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.slow-effect.ng-hide {
  opacity:0;
}

.navbar-static-top{
background-color: #D8D8A8;
}
.grid-item{
 margin-bottom: 10px;
  word-wrap: break-word;

  display: flex;
  flex-wrap: wrap;
}

.img-card{
  margin-bottom: 10px;
  text-align: center;
  word-wrap: break-word;
  width: 150px;
  height: 129px;
  margin: -10px -15px 0px -15px;
  display: flex;
  flex-wrap: wrap;
  float:none; display:block; margin-left:auto; margin-right:auto;
}


.grid-box{
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 17px;
  padding-top: 10px;
  width: 400px;
  border: 1px solid black;
  background-color: #F0F0D8;
  box-shadow: 5px 3px 3px #BBC1DA;
  border: 1px solid #888;
  border-radius:3px;
}

.grid-item-buttom{
  margin-left: 152px;
  text-align: left;
  position: absolute;
  display: inline-block;
  margin-top: -10px;
}
}

.box{
	width: 100%;
	background-color: #f5f5f5;
	padding-left: 15px;
}

.label-default {
  background-color: #8B5A00;
  margin: 1px;
  display: inline-block;
  white-space:nowrap;
}

.edit-item-grid{
  margin-right: 15px;
}

.btn-grid{
    width: 60px;
}

.btn-add{
  margin-bottom: 10px;
}

.col-md-2 {
  width: 20% !important;
}

.row.row-grid {
  padding-left: 6%;

  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.grid-item.last-item{
  margin-bottom: 80px;
}

.btn-load-more{
	width: 136.5%;
}

.btn-load-more-group{
  margin-left: 27.33333333% !important;
  margin-bottom: 25px;
}

.navbar-brand{
 padding: 5px 15px;   
}

.imageConfigs {
  max-width: 100%;
}

.lol {
  background-image: url("../img/table.jpg");
  background-size: 100% 100%;
  height: 160px;
}

.lol2 {
  padding-top: 40px;
  padding-left: 65px;
}


.order {
  height: 45px;
}

.order-list{
  margin-top: -23px;
}

.listagem{
  width: 100%;
  height: 30px;
}

.order-list-head{
    width: 45px;
    height: 30px;
}

.order-list-head1{
    width: 65px;
    height: 10px;
    height: 30px;
}

.order-list-head2{
    width: 30px;
    height: 30px;
}

.order-list-head3{
    width: 10px;
    height: 30px;
}

.navbar-center{
  text-align: center;
  margin-top:20%;
  margin-left: 40%;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* preparing-time */
.preparing-time{
  width: 100%;
  height: 30px;
  float: left;
}

.glyphicon-time{
  margin-top: 10px;
}

.avarage-time-stepper{
  width: 40px;
  height: 25px;
  background-color: transparent;
  border: none;
}

.txt{
  font-family: tahoma;
  font-weight: bold;
}

.order-price{
  width: 100%;
  height: 30px;
  float: left;
  margin-bottom: 10px;
}

.glyphicon-usd{
  margin-top: 10px;
}

.quantity-stepper {
  margin-top: -5px;
  text-align: center;
  width: 60px;
  background-color: transparent;
  box-shadow: 5px 3px 3px #BBC1DA;
}
  
.order-form {
  margin-top: -5px;
  box-shadow: 5px 3px 3px #BBC1DA;
  background-color: transparent;
  width: 200px;
}

.check-order
{
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

.qnt{
  margin-top: -5px;
  width: 50px;
  text-align: center;
}

.btn-qnt{
  margin-top: -5px;
  width: 50px; 
  background-color: transparent;
}

.order-code-item{
  width: 35px;
}

.order-name-item{
  width: 200px;
  max-width: 200px;
  table-layout:fixed;
  word-wrap:break-word;
}

.order-resum-item{
  width: 300px;
  max-width: 200px;
  table-layout:fixed;
  word-wrap:break-word;
}

.order-obs-item{
  max-width: 200px;
  word-wrap:break-word;
}

.container-progress{
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  box-shadow: 3px 2px 2px #BBC1DA;
}

.table-number{
  width: 100px;
  height: 60px;
  text-align: center;
  float: left;
}

.number-txt{
  margin-top: 11%;
}

.container-progress-k{
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 3px 2px 2px #BBC1DA;
}

.table-number-k{
  width: 100px;
  height: 100px;
  text-align: center;
  float: left;
}

.number-txt-k{
  margin-top: 30px;
}

.glyphicon-time
{
  font-size:18px;
}

.glyphicon-warning-sign
{
  font-size: 20px;
  color: #FFFF00;
}

.ok-size{
  font-size: 20px;
  color: #008000;
}

.number-table-prog{
  font-size: 25px;
  font-weight: bold;
}
.progress-screen{
  width: 950px;
  height: 60px;
  float: left;
}

.progress{
  margin-top:20px;
}

.text-list-progress{
  font-size: 16px;
  font-weight: bold;
}
