<div class="container">
	 <h1>Listagem de Pratos</h1>
	    <button class="btn btn-small btn-success" data-toggle="modal" data-target="#dish-modal" ng-click="new()"> Adicionar prato</button>

	 <div class="alert" ng-class="messageClass" role="alert">{{message}}</div>
   <div class="row row-grid">
    <div class="col-md-2 grid-box" ng-repeat="dish in dishList" style="border: 0 none;">
      <div class="grid-item"><img class="img-card" ng-src="{{dish.picture[0]}}" />  </div>
      <br />
      <div class="grid-item-buttom">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border: 0 none; background:transparent;"><span class="glyphicon glyphicon-align-justify"></span>
            <span class="caret"></span>
            </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                <a href="#" class="btn btn-grid edit-item-grid" data-toggle="modal" data-target="#dish-modal" ng-click="edit(dish._id)" role="button">Editar</a>
            </li>
            <li>
              <a href="#" class="btn btn-grid" ng-click="remove(dish._id)" confirmation-needed-dish="Confirma exclusão do prato?"role="button">Excluir</a>
            </li>
          </ul>
      </div>
        <div class="grid-item"> <span><b>{{dish.name}}</b></span> </div>
        <div class="grid-item"> <span>{{dish.description}}</span>  </div>
        <div class="grid-item"> <span>{{dish.price | currency:"R$ "}}</span></div>
        <div class="grid-item"> <span><b>Tempo médio: {{dish.avgTime}} min</b></span></div>

    </div>
   </div>

  <div class="col-md-3 col-md-offset-5">
    <button type="button" class="btn btn-large btn-default btn-block" ng-click="loadMore()">Ver mais</button>
  </div>

</div>
<dish-modal-directive></dish-modal-directive>