<div class="container">
  <h1>Resumo do pedido</h1>

  <div class="alert" ng-class="messageClass" role="alert">
    {{message}}
  </div>

  <table class="table">
    <thead class="listagem">
      <tr>
        <th class="order-list-head">Pedido: {{currentOrder.code}} | Mesa: 05</th>
      </tr>
    </thead>
  </table>
  <div class="order-list">
    <div class="order" style="border: 0 none;">
      <div ng-repeat="dishData in currentOrder.dishes" >
        <div ng-if="dishData.quantity > 0">
          <div class="bs-example" data-example-id="panel-without-body-with-table">
            <table class="table">
              <tbody>
                <tr class="">
                  <td scope="row">
                    <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> {{dishData.dish.name}}
                  </td>
                  <td scope="row">
                    {{dishData.dish.price | currency:"R$ "}}
                  <td scope="row">
                    {{dishData.observation}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>



 <div class="order-list2">
    <div class="order" ng-repeat="drinkData in currentOrder.drinks" style="border: 0 none;">
      <div class="bs-example" data-example-id="panel-without-body-with-table">
        <table class="table">
          <tbody>
            <tr class="">
              <td scope="row">
                <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> {{drinkData.drink.name}}
              <td scope="row">
                {{drinkData.drink.price | currency:"R$ "}}
              </td>
              <td scope="row">
                {{drinkData.observation}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>






  <hr>
  <div class="preparing-time">
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span class="txt">Tempo do pedido (min) :</span> <input type="number"class="avarage-time-stepper" id="" name="" value="{{avgTime}}">
     <!-- DEVE VIR SETADO O TEMPO MÉDIO DO PEDIDO -->
  </div>

  <div class="order-price">
    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
    <span class="txt">Valor do pedido: {{total | currency:"R$ "}}</span>
  </div>

  <a href="/pedidos/bebidas">
    <button class="btn btn-small btn-default btn-add" data-toggle="modal" data-target="#order-modal" ng-click="new()">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Anterior
    </button>
  </a>
  <a href="/pedidos">
    <button class="btn btn-small btn-default btn-add" data-toggle="modal" data-target="#order-modal" ng-click="new()">
     Finalizar <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
  </a>

</div>
<order-modal-directive></order-modal-directive>


