<div class="container">
  <h1>Seleção de mesas:</h1>
  <div class="alert" ng-class="messageClass" role="alert">{{message}}</div>
    <div class="order-list">
      <div class="order" ng-repeat="table in orderList" style="border: 0 none;">
        <div class="bs-example" data-example-id="panel-without-body-with-table">
              <table class="table">
                <tbody>
                  <tr class="col-md-6">
                    <td>
                      <input type="checkbox" aria-label="">
                    </td>
                    <td>Mesa {{table.code}}</td>
                  </tr> 
                </tbody>
              </table>
            </div>
          </div>        
    </div>
  </div>

  <br />
  <button class="btn btn-small btn-default btn-add" data-toggle="modal" data-target="#order-modal" ng-click="new()">
      Próximo <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button>

</div>
<order-modal-directive></order-modal-directive>