<div class="container">
  <h1>Lista de Usuários</h1>
    <button class="btn btn-small btn-success btn-add" data-toggle="modal" data-target="#user-modal" ng-click="new()"> Adicionar Usuário</button>
  <div class="alert" ng-class="messageClass" role="alert">{{message}}</div>

  <div class="row row-grid">

    <div class="col-md-2 grid-box" ng-repeat="user in userList" style="border: 0 none;">
      <div class="grid-item"><img class="img-card" ng-src="{{user.picture[0]}}" />  </div>
      <br />      
      <div class="grid-item-buttom">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border: 0 none; background:transparent;"><span class="glyphicon glyphicon-align-justify"></span>
            <span class="caret"></span>
            </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                <a href="#" class="btn btn-grid edit-item-grid" data-toggle="modal" data-target="#user-modal" ng-click="edit(user._id)" role="button">Editar</a>
            </li>
            <li>
              <a href="#" class="btn btn-grid" ng-click="remove(user._id)" confirmation-needed="Confirma exclusão do usuário?"role="button">Excluir</a>
            </li>
          </ul>
      </div>
        <div class="grid-item"> <span >{{user.name}}</span> </div>
        <div class="grid-item"> <span><b>{{user.login}}</b></span></div>
        <div class="grid-item last-item"><div class="label label-default label-role" ng-repeat-start="role in user.roles" ng-repeat-end> {{role.key}}</div></div>
    </div>
  </div>


  
</div>
<user-modal-directive></user-modal-directive>